$black:#0a0806;
$black2:#0a1910;
$gray: #968d8b;
$white: #ece3df;
$redorange: #a34427;
$brown: #5a261656;
$litebrown: #7237258c;
$emerald: #00ffb373;
$darkemerald: #165a4b56;
@mixin textFormat ($s,$w,$c) {
    font-size: $s;
    font-weight: $w;
    color: $c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $black;
    font-family: 'Jura', sans-serif;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
/*Header*/
.header{
    padding: 10px 25px;
    &__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        h1{
            font-family: 'VT323', monospace;
            @include textFormat(40px, 600, $redorange);
            letter-spacing: 10px;
        }
    }
}
.menu{
    &__item{
        font-family: 'Roboto Mono', monospace;
        @include textFormat(14px, 400, $gray);
        text-transform: uppercase;
        text-decoration: none;
        padding-left: 20px;
    }
    .fa-caret-square-up{
        display: none;
        z-index: 100;
        position: fixed;
        right: 150px;
        bottom: 100px;
        color: rgb(48, 48, 48);
        transition: all .15s ease;
        animation: toTopBtn 1s ease;
        &:hover{
            color: $gray;
        }
    }
}
//font-family: 'Roboto Mono', monospace;
//font-family: 'VT323', monospace;
/*Greeting Block*/
.greeting{
    height: calc(100vh - 60px);
    min-height: 500px;
    background: url(../img/main_back.jpg) no-repeat;
    background-position: center 0;
    background-size: cover;
    padding: 20px;
    &__inner{
        padding: 1px;
        text-align: center;
        max-width: 800px;
        margin: 60vh auto 0;
    }
    &__title{
        @include textFormat(20px, 400, $white);
        letter-spacing: 12px;
        text-shadow: 3px 3px 10px #000;
        span{
            font-weight: 500;
            font-size: 4.2em;
        }
    }
}
// Шаблон для анимированных точек
%dotdiv{
    position: absolute;
    border-radius: 1px;
    width: 7px;
    height: 7px;
    background: $emerald;
    opacity: 0;
    z-index: 3;
}
.aboutme{
    position: relative;
    height: 100%;
    background: linear-gradient($black, $black2, $black2, $black);;
    overflow: hidden;
    &__light{
        z-index: 1;
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 1s ease;
        background: radial-gradient($emerald, transparent, transparent);
        transform: translateX(-50%) translateY(-50%);
        animation: flikering 3s linear infinite;
    }
    &__grid{
        z-index: 2;
        position: absolute;
        height: inherit;
        width: 100%;
        background: url(../img/hexagon_tile.png);
        background-size: 70px 70px;
    }
    &__animBigDot{
        z-index: 1;
        position: absolute;
        top: 670px;
        width: 100vw;
        height: 130px;
        border-radius: 10%;
        background: radial-gradient($emerald, transparent, transparent);
        animation: bigdot 15s linear infinite alternate;
    }
    &__inner{
        position: relative;
        z-index: 3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 100px;
    }
// Animation Block
    &__anim1{
        @extend %dotdiv;
        animation: anim1 8s linear infinite 2s alternate-reverse;
    }
    &__anim2{
        @extend %dotdiv;
        animation: anim2 8s linear infinite 2s alternate-reverse;
    }
// Left Block
    &__left{
        z-index: 3;
        display: flex;
        margin-bottom: 87px;
    }
    &__img{
        filter: brightness(90%);
    }
    &__metext{
        h4{
            @include textFormat(30px, 500, $white);
            letter-spacing: 5px;
            text-align: center;
            padding: 0 2px 6px;
            border-bottom: 1px solid $redorange;
        }
        h5{
            @include textFormat(15px, 300, $gray);
            text-align: center;
            letter-spacing: 9px;
            padding-top: 5px;
        }
    }
    &__item-text{
        @include textFormat(16px, 400, $gray);
        letter-spacing: 1px;
        text-transform: uppercase;
        max-width: 300px;
        word-spacing: 10px;
        line-height: 22px;
        margin-top: 25px;
    }
    span{
        filter: brightness(140%);
    }
// Right Block
    &__right{
        z-index: 3;
        color: $gray;
    }
}
.cube{
    position: relative;
    width: 600px;
    height: 330px;
    perspective: 750px;
    &__inner{
        width: 300px;
        height: inherit;
        margin: 0 auto;
        transform-style: preserve-3d;
        animation: animhex 20s linear infinite;
    }
    &__side{
        position: absolute;
        width: 100px;
        height: 100px;
        border: 1px solid rgb(139, 52, 25);
        border-radius: 30%;
        margin: 230px 100px 0;
        transition: transform .3s ease;
        text-align: center;
        padding-top: 17px;
        @include textFormat(40px, 300, $litebrown);
        &:hover{
            cursor: pointer;
            animation: hovero .6s ease-in infinite;
        }
        box-shadow: -10px 0 55px $brown inset, 0 10px 55px $brown inset, 10px 0 55px $brown inset, 0 -10px 55px $brown inset;
    }
    &__front{
        transform: translateZ(260px);
        &:hover{
            transform: translateZ(260px) scale(1.2);
        }
    }
    &__back{
        transform: translateZ(-260px) rotateY(180deg);
        &:hover{
            transform: translateZ(-260px) rotateY(180deg) scale(1.2);
        }
    }
    &__fleft{
        transform: translateZ(130px) translateX(-225px) rotateY(-60deg);
        &:hover{
            transform: translateZ(130px) translateX(-225px) rotateY(-60deg) scale(1.2);
        }
    }
    &__bleft{
        transform: translateZ(-130px) translateX(-225px) rotateY(240deg);
        &:hover{
            transform: translateZ(-130px) translateX(-225px) rotateY(240deg) scale(1.2);
        }
    }
    &__fright{
        transform: translateZ(130px) translateX(225px) rotateY(60deg);
        &:hover{
            transform: translateZ(130px) translateX(225px) rotateY(60deg) scale(1.2);
        }
    }
    &__bright{
        transform: translateZ(-130px) translateX(225px) rotateY(-240deg);
        &:hover{
            transform: translateZ(-130px) translateX(225px) rotateY(-240deg) scale(1.2);
        }
    }
    &__active{
        border-color: $emerald;
        box-shadow: -10px 0 55px $darkemerald inset, 0 10px 55px $darkemerald inset, 10px 0 55px $darkemerald inset, 0 -10px 55px $darkemerald inset;
        pointer-events: none;
    }
    &__fire{
        position: absolute;
        width: inherit;
        height: inherit;
        animation: antianimhex 20s linear infinite;
        border: none;
        box-shadow: none;
        .fire_inner{
            border-radius: 30%;
            width: inherit;
            height: inherit;
            display: none;
            background: #000;
            box-shadow: -10px 0 55px $darkemerald, 0 10px 55px $darkemerald, 10px 0 55px $darkemerald, 0 -10px 55px $darkemerald;
            div{
                width: inherit;
                height: inherit;
                border-radius: 30%;
                padding: 15px;
                border: 1px solid #00ffb373;
                box-shadow: -10px 0 55px $darkemerald inset, 0 10px 55px $darkemerald inset, 10px 0 55px $darkemerald inset, 0 -10px 55px $darkemerald inset;
            }
            h3{
                text-align: center;
                margin-top: 5px;
            }
            p{
                margin-top: 20px;
                letter-spacing: 1px;
            }
            a{
                margin-left: 15px;
                color: $emerald;
                transition: all .3s ease;
            }
            a:hover{
                color: $redorange;
            }
        }
        .fire_active{
            display: block;
            animation: showFire 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
        }
    }
    form{
        text-align: center;
        color: $gray;
        margin: 20px auto;
        .fgeneran{
            border: 1px solid $emerald;
            padding: 3px;
            width: 90%;
            margin: 15px auto;
            display: block;
            font-family: 'Roboto Mono', monospace;
            background: black;
        }
        #fmessage{
            height: 50px;
            color: $emerald;
        }
        .fsubmit{
            margin-top: 23px;
            color: $emerald;
            width: 40%;
            &:hover{
                cursor: pointer;
                background-color: $darkemerald;
            }
        }
        .lds-ellipsis {
            display: none;
            position: relative;
            width: 80px;
            height: 30px;
            margin: 0 auto;
            box-shadow: none;
            border: none;
        }
        .lds-ellipsis div {
            position: absolute;
            border: 1px solid $emerald;
            box-shadow: none;
            padding: 0;
            top: 10px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: $darkemerald;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
        }
        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }
        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }
    }
    
}
.add_info{
    font-family: 'Roboto Mono', monospace;
    @include textFormat(16px, 300, $gray);
    margin-top: 15px;
    text-align: center;
}
//Project Section
.projects{
    padding: 73px 0;
    z-index: 3;
    display: flex;
    &__inner{
        z-index: 3;
        width: 100%;
    }
    h2{
        @include textFormat(40px, 600, $white);
        letter-spacing: 6px;
        text-align: center;
    }
    &__pack{
        margin: 100px 15%;
    }
}
%packItem {
    width: 150px;
    height: 200px;
    border: 1px solid rgb(110, 179, 156);
    border-radius: 15px;
}
.pack{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item{
        @extend %packItem;
        border: none;
        position: relative;
        transition: all .3s linear;
        transform-style: preserve-3d;
        margin: 40px;
        &:hover{
            transform: rotateY(90deg);
        }
    }
    &__side{
        @extend %packItem;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(19, 19, 19);
        img{
            width: 100%;
            max-height: 70%;
        }
        h4{
            @include textFormat(16px, 500, rgb(110, 179, 137));
            margin-top: 5px;
            text-align: center;
            margin: 0 3px;
        }
    }
    &__front{
        transform: translateZ(75px);
    }
    &__back{
        transform: rotateY(-90deg) translateZ(75px);
        position: relative;
        padding: 15px 7px 0;
    }
    p{
        @include textFormat(16px, 500, $gray);
        letter-spacing: 2px;
        text-align: center;
    }
    &__git{
        position: absolute;
        left: -24px;
        top: 70px;
        padding: 5px 15px;
        transform: rotate(-90deg);
        width: 120px;
        background: rgb(42, 42, 42);
        transition: all .5s ease;
        &:hover{
            filter: brightness(120%);
        }
        img{
            width: 100%;
        }
    }
    &__item:hover &__git{
        left: -84px;
    }
    &__btn{
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
}
.go_btn{
    line-height: 50px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: $darkemerald;
    color: $white;
    transition: all .2s ease;
    &:hover{
        filter: brightness(200%);
    }
}
//footer section
.footer{
    z-index: 3;
    display: flex;
    padding: 50px 50px 150px;
    &__inner{
        z-index: 3;
        width: 100%;
        text-align: center;
    }
    h3{
        @include textFormat(18px, 600, $gray);
        margin:20px 0 30px;
    }
    p{
        @include textFormat(16px, 300, $gray);
        margin-bottom: 7px;
    }
    &__messangers{
        margin-top: 15px;
    }
    a{
        color: $gray;
        text-decoration: none;
    }
    i{
        margin: 7px;
        transition: all .2s ease;
        &:hover{
            transform: scale(1.5);
            color: $redorange;
        }
    }
    i.fa-whatsapp:hover{
        color: #49c93d;
    }
    i.fa-viber:hover{
        color: #784f99;
    }
    i.fa-telegram:hover{
        color: #34a5e0;
    }
}
/* Animations
================== */
@keyframes toTopBtn{
    0%{bottom: 800px;}
    100%{bottom: 100px;}
}
@keyframes flikering{
    0%{filter: hue-rotate(0deg);};
    100%{filter: hue-rotate(360deg);};
}
@keyframes bigdot{
    0%{opacity: .2; transform: translateX(-50vw); filter: hue-rotate(0deg);}
    15%{opacity: .2; transform: translateX(-50vw); filter: hue-rotate(0deg);}
    50%{opacity: .6;}
    85%{opacity: .2; transform: translateX(50vw); filter: hue-rotate(360deg);}
    100%{opacity: .2; transform: translateX(50vw); filter: hue-rotate(360deg);}
}
@keyframes anim1 {
    0%{left: -50px; top: 90px; opacity: 0;}
    10%{left: 710px; top: 90px;opacity: .8;}
    16%{left: 710px;  top: 520px; opacity: 0;}
    100%{left: 710px;  top: 520px; opacity: 0;}
}
@keyframes anim2 {
    0%{left: 50px; top: 0; opacity: 0;}
    6%{left: 50px; top: 450px;opacity: .8;}
    16%{left: 810px;  top: 450px; opacity: 0;}
    100%{left: 810px;  top: 450px; opacity: 0;}
}
@keyframes hovero{
    50%{box-shadow: -3px 0 18px $brown inset, 0 3px 18px $brown inset, 3px 0 18px $brown inset, 0 -3px 18px $brown inset;;}
}
@keyframes showFire{
    0%{transform: translateY(-100px) rotateY(180deg);}
}
@keyframes animhex{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(-360deg);}
}
@keyframes antianimhex{
    0% {transform: rotateY(0deg);}
    100% {transform: rotateY(360deg);}
}
//Form Spinner ANIMATION
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
/* MEDIA queries
================== */
@media screen and (max-width: 1333px){
    .aboutme{
        &__animBigDot{
        top: 1160px;
        }
        &__left{
            margin-bottom: 200px;
        }
        &__right{
            margin-bottom: 10px;
        }
    }
}
@media screen and (max-width: 1100px){
    #toTop{
        right: 70px;
    }
}
@media screen and (max-width: 657px){
    .aboutme{
        &__animBigDot{
        top: 1220px;
        }
    }
    #toTop{
        right: 30px;
    }
    .projects{
        &__pack{
            margin: 100px 2vw;
        }
    }
}
@media screen and (max-width: 476px){
    .header{
        &__inner{
            justify-content: space-evenly;
        }
    }
    .greeting{
        height: calc(100vh - 60px);
        min-height: 400px;
        padding: 20px;
        &__inner{
            padding: 1px;
            text-align: center;
            max-width: 800px;
            margin: 60vh auto 0;
        }
        &__title{
            @include textFormat(10px, 400, $white);
            letter-spacing: 12px;
            text-shadow: 3px 3px 10px #000;
            span{
                font-weight: 500;
                font-size: 4.2em;
            }
        }
    }
    .aboutme{
        &__animBigDot{
            top: 1430px;
        }
        &__left{
            display: block;
            text-align: center;
        }
        &__img{
            height: 150px;
            filter: brightness(90%);
            margin-bottom: 50px;
        }
    }
}